<h2>CS340 Final Project</h2>
<div>
	<p>Mike Thweatt<br>
		CS340 - Final Project<br>
		General Sports Database<br>
		Due Date: 12/03/17
		<br><br>
		
		Welcome to my database. This site contains a database with basic
		relationships between athletes, colleges, coaches, teams, and companies. While this database
		could be used with any sports league, I've used the NFL as an example. Below is a list
		of each table, and each page has additional details related to it's table.
		<br><br>
		
		Additional Note: For any page that allows you to update information, if the form
		contains an option dropdown, I was unable to figure out how to get the entities current
		value selected, so beneath each dropdown, you'll see a line to tell you what the current
		value is. If you want the value to remain the same, you'll have to select the value
		from the dropdown options.
	</p>
</div>

<div id="input">
	<strong>Select a table below</strong>
	<br><br>
	<a href="/athlete">athlete</a> |
	<a href="/coach">coach</a> |
	<a href="/team">team</a> |
	<a href="/college">college</a> |
	<a href="/company">company</a> |
	<a href="/endorsement">endorsement</a>
	<br>
</div>
